@import "../styles/reset.css";
@import "../styles/theme.css";
@import "../styles/override.css";

form {
  display: grid;
}

textarea {
  padding: 4px;
  height: 400px;
  font-family: monospace;
}

textarea:invalid {
  border: 1px solid red;
}
