@import "../styles/reset.css";
@import "../styles/theme.css";
@import "../styles/override.css";

.c-feeds-menu {
  display: grid;
  gap: 16px;
}

.c-date-view {
  display: grid;
  gap: 4px;
  padding-inline: 8px;
  padding-block: 4px;
}

.c-date-title {
  font-size: 16px;
}

.c-date-content {
  display: grid;
  gap: 4px;
}

.c-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: start;
  --line-height: 18px;
  --icon-size: 16px;
}

.c-item-icon {
  width: var(--icon-size);
  transform: translateY(calc(calc(var(--line-height) - var(--icon-size)) / 2));
}

.c-item-title {
  font-size: 16px;
  line-height: var(--line-height);
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }

  &[data-unread="true"] {
    font-weight: bold;
  }
}
