@import "../styles/reset.css";
@import "../styles/theme.css";
@import "../styles/override.css";

body {
  margin: 8px;
}

menu {
  padding: 4px 8px;

  & button {
    padding-inline: 8px;
  }
}

menu + nav {
  margin-top: 4px;
}

button {
  padding-inline: 8px;
}

.c-feeds-menu {
  display: grid;
  gap: 16px;
}

.c-date-view {
  display: grid;
  padding-inline: 8px;
  padding-block: 4px;
  border: none;
}

.c-date-title {
  font-size: 16px;
  font-weight: bold;
}

.c-date-content {
  margin-top: 8px;
  display: grid;
  gap: 4px;
}

.c-item {
  display: grid;
  contain: content;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: start;
  --line-height: 18px;
  --icon-size: 16px;
}

.c-item-icon {
  width: var(--icon-size);
  transform: translateY(calc(calc(var(--line-height) - var(--icon-size)) / 2));
  display: block;
}

.c-item-title {
  font-size: 16px;
  line-height: var(--line-height);
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (prefers-color-scheme: dark) {
  .c-item-title:visited {
    color: #999;
  }
}
@media screen and (prefers-color-scheme: light) {
  .c-item-title:visited {
    color: #6e6e6e;
  }
}
